h1 {
    color: darkcyan;
} 

h2{
    color: white
}
h3{
    color: white
}
h2{
    background-color: darkcyan
}
h3{
    background-color: darkcyan
}
h3{
    font-size: 70px
}
}
h4{
    color: white
}
h2{
    margin: 4px 
}
h4{
    color:darkcyan
}